# ignore files with no extention:
*
!*/
!*.*

# normal ignores:
*.exe
*.dll
nimcache
*.pdb
*.ilk
.*
*.glsl
node_modules
*.flippy

# figma tmp files
figma

# test tmp
tests/frames/index.html
tests/files/index.html
tests/frames/*.png
tests/files/*.png
tests/frames/gpu/*.png
tests/frames/zpu/*.png
tests/files/gpu/*.png
tests/frames/diffs/*.png
tests/files/diffs/*.png
