# ignore files with no extention:
*
!*/
!*.*

# normal ignores:
*.exe
*.dll
*.html
*.data
*.wasm
*.js
*.a
*.o
*.so
*.lib
*.dylib
*.pyc
nimcache
*.pdb
*.ilk
.*
*.glsl
node_modules
package-lock.json
package.json
tmp
*.plist
*.dSYM

# figma tmp files
fidget

# test tmp
tests/frames/index.html
tests/files/index.html
tests/frames/*.png
tests/files/*.png
tests/frames/gpu/*.png
tests/frames/zpu/*.png
tests/frames/hyb/*.png
tests/files/gpu/*.png
tests/frames/diffs/*.png
tests/files/diffs/*.png
tests/frames/rendered/*.png
tests/shots/*
cacert.pem
tmp

trace.json
trace_nested.json
