
name: Github Actions
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: treeform/setup-nim-action@v5
      - uses: mymindstorm/setup-emsdk@v14

      - name: Install system dependencies
        if: runner.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgl1-mesa-dev libxrandr-dev libxinerama-dev libxcursor-dev libxi-dev

      - name: Install Nim packages
        run: nimby install fidget2.nimble

      - name: List Installed Nim packages
        run: nimby tree fidget2

      - name: Set Figma Token
        run: echo ${{ secrets.FIGMA_TOKEN }} > ~/.figmatoken

      - name: Build and run tests
        run: nim c -r --d:cpu -d:release tests/run_frames.nim

      - name: Compile Calculator Natively
        run: cd examples/calculator && nim c calculator.nim

      - name: Compile Calculator for Emscripten
        run: cd examples/calculator && nim c -d:emscripten calculator.nim

      - name: Compile Dragon Natively
        run: cd examples/dragon && nim c dragon.nim

      - name: Compile Dragon for Emscripten
        run: cd examples/dragon && nim c -d:emscripten dragon.nim

      - name: Compile Panels Natively
        run: cd examples/panels && nim c panels.nim

      - name: Compile Panels for Emscripten
        run: cd examples/panels && nim c -d:emscripten panels.nim
